*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
fillsensing_sw.X/html/
fillsensing_sw.X/nbproject/private/
fillsensing_sw.X/nbproject/Package-*.bash
fillsensing_sw.X/build/
fillsensing_sw.X/nbbuild/
fillsensing_sw.X/dist/
fillsensing_sw.X/nbdist/
nbactions.xml
nb-configuration.xml
funclist
fillsensing_sw.X/nbproject/Makefile-*
disassembly/
*.map
